<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
	<form action="/create" method="post">
		<input type="text" name="list_name">
		<input type="submit" value="create new">		
	</form>
	<div>
		{% for list in checklists %}
			<div>
				<a href="/{{list._id.toString()}}">{{ list.name }}</a>
				<form action="/{{list._id.toString()}}/delete" method="post">
					<input type="submit" value="Delete">
				</form>
			</div>
		{% endfor %}
	</div>
	<script>
	  var socket = io.connect('http://localhost:3000');
	  socket.on('news', function (data) {
	    console.log(data);
	    socket.emit('my other event', { my: 'data' });
	  });
	</script>	
</body>
</html>