<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/javascripts/client.js"></script>
	<title>Checklist - {{ name }}</title>
</head>
<body>
	<div>List name: {{ name }}</div>
	<form action="/{{ id }}/add" method="post">
		<input type="text" name="item_name">
		<input type="submit" value="Add item">		
	</form>
	<div data-listid="{{ id }}">
		{% for item in items %}
			<div>
				<input type="checkbox" data-itemid="{{ item.id }}" {% if item.checked %} checked {% endif %}> {{ item.itemname }}
			</div>
		{% endfor %}
	</div>
	<a href="/">Back to Menu</a>
</body>
</html>
